<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luckyhit.mapper.UserInfoMapper" >
    <sql id="BaseColumnList" >
        id, name, flavorlist, status, lastlogintime
    </sql>
    <select id="selectByPrimaryKey" resultType="com.luckyhit.entity.UserInfoEntity" parameterType="java.lang.String" >
        select
        <include refid="BaseColumnList" />
        from user_info
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectList" resultType="com.luckyhit.entity.UserInfoEntity">
        select
        <include refid="BaseColumnList" />
        from user_info
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from user_info
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.luckyhit.entity.UserInfoEntity">
        insert into user_info(id, name, flavorlist, status, lastlogintime)
        values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
        #{flavorList,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT},
        #{lastLoginTime,jdbcType=TIMESTAMP})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.luckyhit.entity.UserInfoEntity" >
        update user_info set
        name = #{name,jdbcType=VARCHAR},
        flavorlist = #{flavorList,jdbcType=VARCHAR},
        status = #{status,jdbcType=SMALLINT},
        lastlogintime = #{lastLoginTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>